<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<body>
<%=
    client = servlet_request.user
    output = []

    output << "Unauthorized connection. Use command .#{Auth::COMMAND_REGISTER} first."

    client.caller_id.zip(client.credentials).each do |id, cred|
      output << "To approve <b>'#{id}'</b> use: <b>.#{Auth::COMMAND_REGISTER} #{cred}</b>"
    end

    output.join('<br />')
%>
</body>
</html>